@using School.Web.Areas.Administration.Models
@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<TeacherListViewModel>

@{
    ViewBag.Title = "Teachers List";
    var pagedList = (IPagedList)Model;
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Index", "Teachers", FormMethod.Get, new { @class = "form-horizontal"}))
{
    <div class="col-xs-4 search-field">
        @Html.TextBox(
            "SearchString",
            ViewBag.CurrentFilter as string,
            new { @class = "form-control", placeholder = "Search"})
    </div>

    <button class="btn btn-info glyphicon glyphicon-search" type="submit"></button>
}

@Html.ActionLink("Add Teacher", "Register", "Account", new { area = "Teachers" }, new { @class = "btn btn-default pull-right" })

<div class="table-list">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.ActionLink("Username", "Index",
                    new { sortOrder = ViewBag.UsernameSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Name", "Index",
                    new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th></th>
        </tr>

        @foreach (var teacher in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => teacher.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => teacher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => teacher.Email)
                </td>
                <td class="text-right">
                    @Html.ActionLinkWithSpan("", "Edit", new { username = teacher.UserName }, new { @class = "btn btn-default btn-sm", title = "Edit"}, new { @class = "glyphicon glyphicon-pencil" })
                    @Html.ActionLinkWithSpan("", "Details", new { username = teacher.UserName }, new { @class = "btn btn-default btn-sm", title = "Details"}, new { @class = "glyphicon glyphicon-list-alt" })
                    @Html.ActionLinkWithSpan("", "Delete", new { id = teacher.Id }, new { @class = "btn btn-default btn-sm", title = "Delete"}, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    </table>
</div>

<br />
Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
@Html.PagedListPager((IPagedList)Model,
    page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))