@using Application.Web.Areas.Administration.Models
@model AcademicYearDetailsViewModel

@{
    ViewBag.Title = "School - AcademicYear - Details";
}

<h2>Academic Year Details</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.StartDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.IsActive)
    </dt>

    <dd>
        @(Model.IsActive ? "Yes" : "No")
    </dd>
</dl>

<h3>Grades:</h3>

<div class="list-group panel" id="main-menu">
    @{
        int submenuCounter = 1;
    }

    @foreach (var grade in Model.Grades)
    {
        <a href="#submenu-@submenuCounter" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#main-menu">
            @grade.GradeYear
            <span class="badge">@grade.SchoolClassesCount</span>
        </a>

        <div class="collapse" id="submenu-@submenuCounter">
            @foreach (var schoolClass in grade.SchoolClasses)
            {
                <a href="#" class="list-group-item">@schoolClass.ClassLetter</a>
            }
        </div>
        
        submenuCounter++;
    }
</div>