@model School.Web.Areas.Administration.Models.GradeDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Grade Details</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(m => m.GradeYear)
    </dt>
    <dd>
        @Html.DisplayFor(m => m.GradeYear)
    </dd>
    <dt>
        Academic Year
    </dt>
    <dd>
        @Model.AcademicYearStartDate.Year - @Model.AcademicYearEndDate.Year
    </dd>
</dl>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>School Classes</th>
            <th>@Html.DisplayNameFor(m => m.SchoolClasses.FirstOrDefault().StudentsNumber)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schoolClass in Model.SchoolClasses)
        {
            <tr>
                <td>
                    @schoolClass.ClassLetter @(schoolClass.SchoolThemeName !=
                                               "General" ? (", School theme: " + @schoolClass.SchoolThemeName) : "")
                </td>
                <td>@Html.DisplayFor(model => schoolClass.StudentsNumber)</td>
                <td class="text-right">
                    @Html.ActionLinkWithSpan(
                        "",
                        "Edit",
                        "SchoolClasses",
                        new
                        {
                            gradeYear = schoolClass.GradeYear,
                            letter = schoolClass.ClassLetter,
                            startYear = Model.AcademicYearStartDate.Year
                        },
                        new { @class = "btn btn-default btn-sm", title = "Edit class" },
                        new { @class = "glyphicon glyphicon-pencil" })

                    @Html.ActionLinkWithSpan(
                        "",
                        "Details",
                        "SchoolClasses",
                        new
                        {
                            gradeYear = schoolClass.GradeYear,
                            letter = schoolClass.ClassLetter,
                            startYear = Model.AcademicYearStartDate.Year
                        },
                        new { @class = "btn btn-default btn-sm", title = "Class details" },
                        new { @class = "glyphicon glyphicon-list" })

                    @if (schoolClass.AcademicYearStartDate >= DateTime.Now)
                    {
                        @Html.ActionLinkWithSpan(
                        "",
                        "Delete",
                        "SchoolClasses",
                        new { id = schoolClass.Id },
                        new { @class = "btn btn-default btn-sm", title = "Delete class" },
                        new { @class = "glyphicon glyphicon-trash" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>