@model School.Web.Areas.Teachers.Models.TeacherRegisterSubmitModel
@{
    ViewBag.Title = "School - Teacher - Register";
}

<h2>Teacher register</h2>

@using (Html.BeginForm(
    "Register", 
    "Account", 
    FormMethod.Post, 
    new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <!-- Using Jasny Bootstrap - Image upload widget: http://jasny.github.io/bootstrap/javascript/ -->
    <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left: 208px">

        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
            <img src="@Model.RegisterViewModel.ImageUrl" alt="profile photo">
        </div>

        <div class="fileinput-preview fileinput-exists thumbnail" style="width: 200px; height: 150px;"></div>
        <div>
            <span class="btn btn-default btn-file">
                <span class="fileinput-new">
                    Select image
                </span>
                <span class="fileinput-exists">
                    Change
                </span>
                <input type="file" id="RegisterViewModel_ImageUpload" name="RegisterViewModel.ImageUpload">
            </span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RegisterViewModel.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
           @Html.TextBoxFor(model => model.RegisterViewModel.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RegisterViewModel.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.RegisterViewModel.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RegisterViewModel.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(model => model.RegisterViewModel.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RegisterViewModel.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(model => model.RegisterViewModel.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
