@model School.Web.Areas.Administration.Models.StudentDetailsEditModel

@{
    ViewBag.Title = "Student Details - Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(
                model => model.AccountDetailsEditModel.UserName, 
                htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-4">
                @Html.EditorFor(
                    model => model.AccountDetailsEditModel.UserName, 
                    new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(
                    model => model.AccountDetailsEditModel.UserName, 
                    "", 
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(
                model => model.AccountDetailsEditModel.Email, 
                htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-4">
                @Html.EditorFor(
                    model => model.AccountDetailsEditModel.Email, 
                    new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(
                    model => model.AccountDetailsEditModel.Email, 
                    "", 
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(
                model => model.AccountDetailsEditModel.PhoneNumber, 
                htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-4">
                @Html.EditorFor(
                    model => model.AccountDetailsEditModel.PhoneNumber, 
                    new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(
                    model => model.AccountDetailsEditModel.PhoneNumber, 
                    "", 
                    new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLinkWithSpanUsingSession(
        "Index", 
        "Students", 
        "redirectUrl", 
        new { @class = "btn btn-default btn-sm", title = "Back to List" }, 
        new { @class = "glyphicon glyphicon-arrow-left" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
