@using School.Web.Areas.Administration.Models
@using PagedList;
@using PagedList.Mvc;

@model IEnumerable<StudentListViewModel>

@{
    ViewBag.Title = "Index";
    var pagedList = (IPagedList)Model;
}

<h3>Students list</h3>

@using (Html.BeginForm("Index", "Students", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div class="col-xs-4 search-field">
        @Html.TextBox(
            "SearchString",
            ViewBag.CurrentFilter as string,
            new {@class = "form-control", placeholder = "Search"})
    </div>

    <button class="btn btn-info glyphicon glyphicon-search" type="submit"></button>
}

@Html.ActionLink("Add Student", "Register", "Account", new { area = "Students" }, new { @class = "btn btn-default pull-right" })

<div class="table-list">
    <table class="table table-striped table-students">
        <tr>
            <th>
                @Html.ActionLink("Username", "Index",
                    new { sortOrder = ViewBag.UsernameSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Name", "Index",
                    new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th></th>
        </tr>

        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Email)
                </td>
                <td class="text-right">
                    @Html.ActionLinkWithSpan(
                        "",
                        "Edit",
                        new { username = student.UserName },
                        new { @class = "btn btn-default btn-sm", title = "Edit" },
                        new { @class = "glyphicon glyphicon-pencil" })

                    @Html.ActionLinkWithSpan(
                        "",
                        "Details",
                        new { username = student.UserName },
                        new { @class = "btn btn-default btn-sm", title = "Details" },
                        new { @class = "glyphicon glyphicon-list-alt" })

                    @Html.ActionLinkWithSpan(
                        "",
                        "Delete",
                        new { id = student.Id },
                        new { @class = "btn btn-default btn-sm", title = "Delete" },
                        new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    </table>
</div>

<br />
Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
@Html.PagedListPager((IPagedList)Model,
    page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))